# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env

# Node modules
node_modules/
dist/
build/

# Logs
*.log

# OS files
.DS_Store

# Docker
docker-compose.override.yml

# Editor
.vscode/
.idea/
